header {
  align-items: flex-end;
}

.header__logo {
  width: calc(116px + var(--gutter-lg));
  height: var(--header-height);
  background-size: 116px auto;
}

.nav {
  flex-grow: 99;
  height: 50%;
  background-color: var(--grey-dark);
}

.nav__list:not(.nav__list--sub) {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav__item {
  display: flex;
  align-items: center;
  transition: color 0.3s;
}

.nav__item {
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: bold;
  text-transform: uppercase;
}

.nav__list--sub {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 var(--gutter-lg);
  width: 240px;
  max-height: 0;
  background-color: var(--grey-dark);
  overflow: hidden;
  transform: translate(calc(var(--gutter-lg) * -1), calc(var(--header-height) / 2));
  transition: max-height 0.5s;
}

.nav__item:last-of-type .nav__list--sub {
  left: auto;
  right: 0;
  transform: translate(var(--gutter-lg), calc(var(--header-height) / 2));
}

.nav__item:hover .nav__list--sub {
  max-height: 666px;
}

.nav__item--sub {
  padding: var(--gutter) 0;
  color: var(--beige);
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.nav__item--sub:last-of-type {
  padding-bottom: var(--gutter-lg);
}

.nav__item:hover .nav__item--sub{
  color: var(--beige);
}

.nav__item:hover,
.nav__item .nav__item--sub:hover {
  color: var(--gold);
}