@media (max-width: 1024px) {
  header {
    padding: var(--gutter-sm);
  }
  
  .header__logo {
    position: absolute;
    top: var(--gutter-sm);
    left: var(--gutter-sm);
    width: 116px;
    height: calc(var(--header-height) - var(--gutter));
    background-size: contain;
  }
  
  .header__hamburger {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: var(--header-height);
    background-color: var(--grey-dark);
  }
  
  .header__hamburger::before {
    content: 'Menu';
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s;
  }
  
  .header__hamburger::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid var(--white);
    transform: rotate(45deg);
    transition: opacity 0.5s;
  }

  #toggle--menu:checked ~ .header__hamburger::before,
  #toggle--menu:checked ~ .header__hamburger::after {
    opacity: 0;
  }

  .header__hamburger span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .header__hamburger span::before,
  .header__hamburger span::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 1px;
    background: var(--white);
  }

  .header__hamburger span::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .header__hamburger span::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  #toggle--menu:checked ~ .header__hamburger span {
    opacity: 1;
  }
  
  .nav {
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 100vw;
    height: calc(100vh - var(--header-height));
    background-color: var(--grey-dark);
    transform: translateX(100%);
    transition: transform 0.5s;
  }
  
  #toggle--menu:checked ~ .nav {
    transform: translateX(0);
  }
  
  .nav__list:not(.nav__list--sub) {
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .nav__item:not(.nav__item--sub) {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--beige);
    transition: padding 0.5s;
  }

  .nav__list--sub {
    position: relative;
    margin: 0;
    padding: 0;
    max-height: var(--subnav-height);
    width: 100%;
    background-color: var(--beige);
    color: var(--white);
    transform: none;
    transition: max-height 0.5s;
  }
  
  .nav__item:last-of-type .nav__list--sub {
    right: auto;
    transform: none;
  }
  
  .nav__item > span {
    display: block;
    padding: 0 var(--gutter);
    width: 100%;
    height: 60px;
    line-height: 60px;
  }

  .nav__item:hover .nav__list--sub {
    --subnav-height: 0px;
  }
  
  .nav__item--sub {
    padding: var(--gutter);
    color: var(--white);
  }

  .collapsible {
    --subnav-indicator-rotate: 90deg;
  }

  .collapsible::before,
  .collapsible::after {
    content: '';
    display: block;
    position: absolute;
    top: 30px;
    right: var(--gutter);
    width: 12px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--white);
  }

  .collapsible::after {
    transform: rotate(var(--subnav-indicator-rotate));
    transition: transform 0.3s;
  }

  .nav__item:hover .nav__item--sub{
    color: var(--white);
  }

  .nav__item:hover,
  .nav__item .nav__item--sub:hover {
    color: var(--white);
  }

  .nav__item--sub:last-of-type {
    padding-bottom: var(--gutter);
}
}