@import '../../variables.scss';

.nav__item {
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  border-bottom: 1px solid $beige;

  & > a,
  & > span {
    display: block;
    padding: $gutter;
    width: 100%;
    height: 100%;
  }

  & .nav__list--sub {
    padding: 0 $gutter;
    max-height: 0px;
    background-color: $beige;
    font-weight: normal;
  }

  & .nav__list--sub.expanded {
    max-height: 666px;
  }

  @media (max-width: 1024px) {
    & .nav__list--sub::before,
    & .nav__list--sub::after {
      content: '';
      display: block;
      position: absolute;
      top: -24px;
      right: $gutter;
      width: 12px;
      height: 2px;
      background-color: $white;
    }

    & .nav__list--sub::after {
      transform: rotate(90deg);
    }

    & .nav__list--sub.expanded::after {
      transform: rotate(0deg);
    }
  }
}

@media (min-width: 1024px) {
  .nav__item {
    display: flex;
    align-items: center;
    flex-grow: 99;
    border: none;
    overflow: visible;

    &:hover {
      color: $gold;
    }

    & > span,
    & > a {
      padding: 0;
      height: auto;
      text-align: center;
    }

    & > .nav__list--sub {
      position: absolute;
      top: calc(#{$header-height} / 2);
      left: 0;
      width: 240px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &:nth-last-of-type(1) > .nav__list--sub,
    &:nth-last-of-type(2) > .nav__list--sub {
      left: auto;
      right: 0;
    }

    &:hover > .nav__list--sub {
      max-height: 666px;
    }

    &:hover > .nav__list--sub li {
      color: $white;
    }

    &:hover > .nav__list--sub li:hover {
      color: $gold;
    }
  }
}